.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 75%;
}
.registerForm kendo-label:not(:last-of-type) {
  flex-direction: column;
  margin-bottom: 10px;
}
h3 {
  display: flex;
  justify-content: center;
}
.registerForm button {
  width: 100px;
}
