<div class="registerForm">
  <h5>GEBRUIKER REGISTRATIE FORMULIER</h5>
  <h5></h5>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <kendo-formfield>
  <kendo-floatinglabel text="Voornaam:">
    <kendo-textbox placeholder="Type your message here" formControlName="firstName" [clearButton]="true"></kendo-textbox>
  </kendo-floatinglabel>
    </kendo-formfield>
  <kendo-floatinglabel text="Achternaam:">
    <kendo-textbox placeholder="Type your message here" formControlName="lastName" [clearButton]="true"></kendo-textbox>
  </kendo-floatinglabel>
  <kendo-floatinglabel text="Gebruikersnaam:">
    <kendo-textbox placeholder="Type your message here" formControlName="username" [clearButton]="true"></kendo-textbox>
  </kendo-floatinglabel>
  <kendo-floatinglabel text="Wachtwoord:">
    <kendo-textbox placeholder="Type your message here" formControlName="password" [clearButton]="true"></kendo-textbox>
  </kendo-floatinglabel>
  <kendo-floatinglabel text="Groep:">
    <kendo-textbox placeholder="Type your message here" formControlName="groupName" [clearButton]="true"></kendo-textbox>
  </kendo-floatinglabel>
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Register
    </button>
  </form>
</div>
