<div class="bg-login">
  <div class="bg-div-1" >
  <div>
    <h3>Welkom bij</h3>
    <h3>powerbrowser 2021</h3>
    <p>Uw gebruikersnaam en wachtwoord zijn strikt <b>persoonlijk</b>,</p>
    <p>deel deze <b>nooit</b> met andere.</p>
  </div>
  </div>
  <div class="bg-div-2">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <fieldset class="k-form-fieldset">
        <img id="login-logo" src="assets/Images/Logos[1782].png">
        <kendo-formfield>
          <kendo-floatinglabel text="gebruikersnaam">
            <kendo-textbox placeholder="Type uw gebruikersnaam hier" formControlName="username" [showErrorIcon]="'initial'" [clearButton]="true" required> </kendo-textbox>
          </kendo-floatinglabel>
        </kendo-formfield>
        <kendo-formfield>
          <kendo-floatinglabel text="wachtwoord">
            <input type="password" formControlName="password"  placeholder="Type uw wachtwoord hier" kendoTextBox required/>
          </kendo-floatinglabel>
        </kendo-formfield>
        <kendo-formfield>
          <kendo-floatinglabel text="2 factor key">
            <kendo-textbox placeholder="Type uw two factor authenticatie code" formControlName="twofact" [showErrorIcon]="'initial'" [clearButton]="true" required></kendo-textbox>
          </kendo-floatinglabel>
        </kendo-formfield>
        <kendo-formfield>
          <kendo-floatinglabel text="groep">
            <kendo-dropdownlist [data]="groupItems" formControlName="groupName"></kendo-dropdownlist>
          </kendo-floatinglabel>
        </kendo-formfield>
          <input type="checkbox" id="terms" kendoCheckBox />
          <label class="k-checkbox-label" for="terms">Gebruikersnaam onthouden</label>
          <hr>
        <div class="form-button">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Aanmelden
        </button>
        </div>
        <hr>
        <div class="form-bottom">
        <a href="#"> &lt;&lt; terug naar dataeigenaar</a> <a href="#">wachtwoord vergeten</a>
        </div>
      </fieldset>

    </form>

  </div>

</div>

