
      <kendo-grid [kendoGridBinding]="users"
                  [height]="410"
                  [columnMenu]="true"
                  [filterable]="true"
                  [sortable]="true"
                  (remove)="removeHandler($event)" (edit)="editHandler($event)" >
        <kendo-grid-column field="id" title="#" width="100" filter="numeric">
        </kendo-grid-column>
        <kendo-grid-column field="firstName" title="Voornaam" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="lastName" title="Achternaam" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="username" title="Gebruikersnaam" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="groupName" title="Groep" width="200">
        </kendo-grid-column>
        <kendo-grid-command-column title="command" width="220">
          <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand [primary]="true">Bewerken</button>
            <button kendoGridRemoveCommand>Verwijderen</button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
